{% extends 'layouts/base.html' %}



{% block title %}401 Error{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
<!-- Start Page Content here -->
<div class="flex min-h-screen items-center bg-slate-950">
<div class="container">
<div class="flex justify-center lg:p-0 p-12.5">
<div class="2xl:w-4/10 md:w-1/2 sm:w-2/3 w-full">
<div class="card rounded-2xl">
<div class="card-body p-7.5">
<div class="mb-4 flex flex-col items-center justify-center text-center">
<a class="auth-logo" href="/deck">
<img alt="logo" class="flex dark:hidden" src="{{ url_for('admin_assets', path='images/promocaster/app-icon-enclosed-dark.svg') }}"/>
<img alt="dark logo" class="hidden dark:flex" src="{{ url_for('admin_assets', path='images/promocaster/app-icon-enclosed-light.svg') }}"/>
</a>
</div>
<div class="p-3 text-center">
<div class="from-primary my-4 bg-linear-to-r to-danger bg-clip-text text-7xl font-bold text-transparent">
                                    401</div>
<h3 class="mb-2 text-xl font-bold uppercase">Access Restricted</h3>
<p class="text-default-400 mb-4">You are not authorized to access this page.</p>
<a class="btn bg-primary mt-6 text-white hover:bg-primary-hover" href="/deck">
                                    Return Home</a>
</div>
</div>
</div>
<!-- Auth Footer -->
<p class="text-default-400 mt-7.5 text-center">
                        ©
                        <span data-current-year=""></span>
                        Promocaster Control
</p>
</div>
</div>
</div>
</div>
<!-- End Page content -->{% endblock content %}

{% block scripts %}

{% endblock scripts %}
