html[data-skin="luxe"] {
    --font-body: "TikTok Sans", sans-serif;
    --font-secondary: "TikTok Sans", sans-serif;

    --text-body: 13px;
    --color-body-bg: #f9f5f5;

    --color-card: #fff;

    --color-primary: #e9635a;
    --color-primary-hover: #af4a44;

    --color-secondary: #9b1f8c;
    --color-secondary-hover: #741769;

    --color-success: #39c37d;
    --color-success-hover: #2b925e;

    --color-info: #2dd4bf;
    --color-info-hover: #229f8f;

    --color-warning: #fea142;
    --color-warning-hover: #bf7932;

    --color-danger: #da4545;
    --color-danger-hover: #a43434;

    --color-purple: #6070cc;
    --color-purple-hover: #485499;

    --shadow: 0 4px 9px rgba(34, 7, 31, 0.05);

    --color-default-300: #edf2f9;

    --text-sm: 13px;
    --text-base: 15px;

    --radius: 6px;

    --font-weight-medium: 500;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;

    /* Menu items */
    --sidenav-item-icon-size: 1rem;
    --sidenav-item-gap: 10px;
    --sidenav-item-padding-x: 12px;
    --sidenav-item-padding-y: 8px;
    --sidenav-item-font-size: 0.875rem;
    --sidenav-item-font-weight: 400;

    /* Sub Menu Items */
    --sidenav-sub-item-font-size: 0.875rem;
    --sidenav-sub-item-font-weight: 400;
    --sidenav-sub-item-gap: 4px;
    --sidenav-sub-item-padding-x: 10px;
    --sidenav-sub-item-padding-y: 7px;

    /* Light left-sidebar */
    &[data-menu-color="light"] {
        --sidenav-bg: white;
        --sidenav-border-color: #edf2f9;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #e9635a;
        --sidenav-item-hover-bg: #f1f1f1;
        --sidenav-item-active-color: #e9635a;
        --sidenav-item-active-bg: #fdf1f0;
    }

    /* Gray left-sidebar */
    &[data-menu-color="gray"] {
        --sidenav-bg: #f1eded;
        --sidenav-border-color: #e7e9eb;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #e9635a;
        --sidenav-item-hover-bg: #e9e2e2;
        --sidenav-item-active-color: #212b29;
        --sidenav-item-active-bg: #e9e2e2;
    }

    /* Dark Left Sidebar */
    &[data-menu-color="dark"] {
        --sidenav-bg: #22071f;
        --sidenav-border-color: #22071f;
        --sidenav-item-color: #938691;
        --sidenav-item-hover-color: #d5c9d4;
        --sidenav-item-hover-bg: #382035;
        --sidenav-item-active-color: #d5c9d4;
        --sidenav-item-active-bg: #311c2e;
    }

    /* Gradient Menu */
    &[data-menu-color="gradient"] {
        --sidenav-bg: linear-gradient(to right, #393a66, #361732);
        --sidenav-border-color: null;
        --sidenav-item-color: #8782a9;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Image Menu */
    &[data-menu-color="image"] {
        --sidenav-bg: linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #22071f), url("/static/images/sidenav-bg.jpg") center/cover no-repeat;
        --sidenav-border-color: null;
        --sidenav-item-color: #799cb7;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Dark Mode */
    &[data-theme="dark"][data-menu-color="dark"],
    &[data-theme="dark"][data-menu-color="gray"],
    &[data-theme="dark"][data-menu-color="light"] {
        --sidenav-bg: #1e1f27;
        --sidenav-border-color: #2c2d38;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #22232c;
    }

    /* Light Topbar */
    &[data-topbar-color="light"] {
        --topbar-bg: #f7f3f3;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #e9635a;
        --topbar-search-bg: transparent;
        --topbar-search-border: #dbdfe3;
    }

    /* Gray Topbar */
    &[data-topbar-color="gray"] {
        --topbar-bg: #e9e0e2;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #e9635a;
        --topbar-search-bg: #e1d0d4;
        --topbar-search-border: #e1d0d4;
    }

    /* Dark Topbar */
    &[data-topbar-color="dark"] {
        --topbar-bg: #22071f;
        --topbar-item-color: #bbb0b9;
        --topbar-item-hover-color: #f9e5f5;
        --topbar-search-bg: #392035;
        --topbar-search-border: #392035;
    }

    /* Gradient Topbar */
    &[data-topbar-color="gradient"] {
        --topbar-bg: linear-gradient(to right, #393a66, #6c2063, #52174b);
        --topbar-item-color: rgba(255, 255, 255, 0.7);
        --topbar-item-hover-color: #ffffff;
        --topbar-search-bg: rgba(255, 255, 255, 0.1);
        --topbar-search-border: rgba(255, 255, 255, 0.1);
    }

    /* Topbar (Dark Mode) */
    &[data-theme="dark"][data-topbar-color="dark"],
    &[data-theme="dark"][data-topbar-color="light"],
    &[data-theme="dark"][data-topbar-color="gray"] {
        --topbar-bg: #252630;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2d2e3c;
        --topbar-search-border: #2d2e3c;
    }

    /* Chart Colors */
    --color-chart-primary: #e9635a;
    --color-chart-secondary: #9b1f8c;
    --color-chart-alpha: #39c37d;
    --color-chart-beta: #da4545;
    --color-chart-gamma: #fea142;
    --color-chart-delta: #2dd4bf;
    --color-chart-zeta: #6070cc;
    --color-chart-gray: #9b1f8c;
    --color-chart-dark: #396699;
    --color-chart-border-color: #ecf4fc;
    --color-chart-title-color: #bbcae1;
}

html[data-theme="dark"][data-skin="luxe"] {
    --color-body-bg: #17181e;
    --color-card: #1b1c22;
    --shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    --color-default-300: #293036;

    --color-chart-gray: #40424f;
    --color-chart-border-color: #242c31;

    .card,
    .hs-dropdown-menu {
        border: 1px solid var(--color-default-300) !important;
    }
}

html[data-skin="luxe"][data-menu-color="light"][data-topbar-color="dark"],
html[data-skin="luxe"][data-menu-color="light"][data-topbar-color="gradient"] {
    .app-menu {
        #button-hover-toggle {
            color: var(--sidenav-item-color) !important;
        }
    }
}

/* luxe Theme */
html[data-skin="luxe"] {
    .app-header {
        box-shadow: none;
    }

    .page-title-head {
        position: relative;

        &::before {
            content: "";
            height: 150px;
            top: 0;
            position: absolute;
            background: var(--topbar-bg);
            inset-inline-start: -20px;
            inset-inline-end: -20px;
            z-index: -1;
        }
    }

    .pro-username {
        font-size: 13px;
    }

    .hs-dropdown-menu,
    .card {
        box-shadow: 0 4px 9px rgba(34, 7, 31, 0.05);
    }
}

html[data-skin="luxe"]:not([data-sidenav-size="sm"]) {
    .side-nav {
        .menu-item {
            .menu-link {
                .menu-icon {
                    line-height: 26px;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: var(--sidenav-item-hover-bg);
                    text-align: center;
                    @apply flex items-center justify-center;
                }
            }
        }

        /* Multi Level Menu */
        .sub-menu {
            margin-inline-start: 8px;

            .sub-menu {
                padding-inline-start: 12px;
            }
        }
    }
}

/* Manage for light & dark logo */
html[data-skin="luxe"][data-menu-color="light"][data-topbar-color="dark"],
html[data-skin="luxe"][data-menu-color="light"][data-topbar-color="gradient"] {
    .app-menu {
        .logo-box {
            background: var(--sidenav-bg);
            width: 100%;
        }

        .sidenav-user {
            margin-top: 0;
        }

        .button-on-hover {
            color: var(--sidenav-item-color) !important;

            &:hover {
                color: var(--sidenav-item-hover-color) !important;
            }
        }
    }

    .logo {
        &.logo-light {
            display: none !important;
        }

        &.logo-dark {
            display: block !important;
        }
    }
}

html[data-skin="luxe"][data-topbar-color="dark"],
html[data-skin="luxe"][data-topbar-color="gradient"] {
    .page-title-head {
        .page-main-title {
            color: white !important;
        }

        a {
            color: rgba(255, 255, 255, 0.5) !important;
        }
    }
}
